body {
  background: url(../img/black-and-white-dice.jpg) no-repeat ;
  color: #d12912;
}
.h1-heading {
  text-align: center;
  color: #ddb9b4;
}
.messages {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: bisque;
}
